@font-face {
    font-family: "odibee";
    src: url("./fonts/OdibeeSans-Regular.ttf");
}
* {
    font-family: "odibee";
    margin: 0;
    box-sizing: border-box;
}
.root {
    height: 100vh;
    background-image: url("./img/fondo.svg");
}
